.AboutContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    width: 70vw;
    /* height: 100vh; */
    height: 100%;
}


.MyAboutImage{
    height: 500px;
    /* justify-self: center; */
}


.AboutContaint{
    width: 50%;
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
}

.AboutContaint span{
    color: aqua;
}

.MyAboutImageContainer{
    display: flex;
}


.AboutButton{
    justify-content: center;
    background-color: #00eeff;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 40px;
    border: 0px;
    /* box-shadow: 10px 10px 10px; */
    /* position: relative; */
    /* left: 25px; */
    cursor: pointer;
    box-shadow: 0 0px 20px rgba(0, 238, 255, 0.4);
}