.container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999999999;
    position: relative;
    background-color: #1f232e;
}

.containt{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

ul li a{
    color: white;
    all:unset;
    cursor: pointer;
}