.appContainer{
  background-color: #20232d;
  /* height: 100vh; */

}

.HomeStyling{

  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.nav{
  /* position: sticky; */
  /* top: 0px; */
  /* position: absolute; */
  /* position: relative; */
  z-index: 1;
  position: sticky;
  /* position: fixed; */
  top: 0;
  position: -webkit-sticky;
}

.AboutPage{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.ProjectPage{
  display: flex;
  justify-content: center;
}


